.hamburger {
  cursor: pointer;
  z-index: 100;
  position: relative;
  top: 0;
  right: 0;
  margin: 1rem;
  padding: 1rem;
  border: none;
  background-color: transparent;
  outline: none;
}

.hamburger-line {
  width: 3rem;
  height: 0.3rem;
  background-color: var(--black-color);
  margin: 0.5rem;
  transition: all 0.3s ease-in-out;
}

.hamburger-menu {
  position: absolute;
  top: 90%;
  width: 100%;
  padding: 1rem;
  background-color: var(--orange-color);
  border-radius: 10px;
}

.hamburger-menu-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  list-style: none;
}

a {
  text-decoration: none;
  font-size: large;
  font-weight: bold;
  font-size: 1.5em;
  transition: 0.5s;
}

@media (min-width: 868px) {
  .hamburger {
    display: none;
  }

  .hamburger-menu {
    display: none;
  }
}

@media (max-width: 580px) {
  .hamburger-line {
    width: 2rem;
    height: 0.2rem;
  }
}
