@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400&display=swap");
:root {
  --orange-color: #ffc93c;
  --green-color: #cbf078;
  --pink-color: #fecea8;
  --white-color: #f9fbfc;
  --black-color: #1a1a1a;
  --font-family: Lato, sans-serif;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--font-family);
  scrollbar-width: thin;
  scrollbar-color: #ffa500 #ffffff;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-thumb {
  background-color: #ffa500;
}

::-webkit-scrollbar-track {
  background: #ffffff;
}

::-webkit-scrollbar-thumb:vertical {
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #ffa500;
}

.animate__fadeIn {
  animation: fadeIn 0.5s linear both;
  animation-timeline: view();
  animation-range-start: 5%;
  animation-range-end: 30%;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
