@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400&display=swap");
:root {
  --orange-color: #ffc93c;
  --green-color: #cbf078;
  --pink-color: #fecea8;
  --white-color: #f9fbfc;
  --black-color: #1a1a1a;
  --font-family: Lato, sans-serif;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--font-family);
}
