.slider {
  height: fit-content;
  border-radius: 10px;
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: row;
}

.slider-image {
  width: 35rem;
  height: 25rem;
  border-radius: 10px;
  object-fit: cover;
  object-position: center;
}

.slider-buttons {
  position: absolute;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: row;
}

.slider-button {
  width: 2em;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  font-size: 2em;
  cursor: pointer;
  transition: all 0.3s ease;

  &:hover {
    background: rgba(0, 0, 0, 0.8);
  }
}

@media screen and (max-width: 868px) {
  .slider {
    width: 100%;
  }
  .slider-image {
    width: 100%;
  }

  .slider-button {
    height: 10rem;
    border-radius: 10px;
  }
}
